html,
body {
  height: 100%;
  margin: 0;
}

.header {
  position: auto;
  width: auto;
  height: 100px;
  background-color: #f8f9fa;
  display: flex;
  position: relative;
  align-items: center;
}

.header,
h1 {
  text-align: left;
  font-size: 2rem;
  padding: 15px 20px;
}

.nav-menu {
  width: 100%;
  background-color: #f8f9fa;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 10;
}

.nav-menu a {
  color: #050505;
  text-decoration: none;
  padding: 15px 20px;
}
.nav-menu a:hover {
  color: brown;
  font-weight: bold;
  transition: scale(1.5);
  
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.page-title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.page-title h1 {
  display: inline-block;
  font-size: 2.5rem;
  color: #333;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}

.image-list {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}
.image-item {
  text-align: center;
}
.image-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-item p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}
